@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
 
  body {
    width: 100%;
 }
 
 label {
 	font-size:16px;
 	font-weight: 700;
 	color: #088178;
 }
 
 .section-p1 {
    padding: 40px 80px;
 }

.container {
   height: 100vh;
   width: 100%;
   padding: 0 60px;
   display: flex;
   align-items: flex-start;
   justify-content: center;
}

.tableDiv {
    width: 100%;
    overflow-x: auto;
}

.searchers {
    display: flex;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 40px;   
}

.search-bar {
   width: 30%;
   background: rgba(0,0,0, 0);
   display: flex;
   align-items: center;
   border-radius: 60px;
   padding: 10px 20px;
   margin-left: 10%;
}

.search-bar input[type="text"] {
   width: 82%;
   flex: 1;
   border-radius: 60px;
   outline: none;
   padding: 24px;
   font-size: 20px;
}

.search-bar button img {
   width: 25px;
}

.search-bar button {
    border: 0;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   background: #088178;
   cursor: pointer;
}

.search-date {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}


.my-table {
  border-collapse: collapse;
  width: 100%;
}

.my-table th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.my-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.my-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.my-table tbody tr:hover {
  background-color: #e5e5e5;
}

.normal {
    background-color: #088178;
    color: #fff;
    border: 0;
    padding: 14px 40px 14px 40px;
    border-radius: 50px;
 }
 
 .dateBox {
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 5px;
}

input:focus{
  border:1px solid #000;
}

@media (max-width: 1280px) {
	
  .searchers {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .search-bar {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .search-bar button{
    margin-left: 2px;
  }

  .search-bar input[type="text"] {
    width: 100%;
  }

  .container {
    padding: 0 20px;
  }
  
  .normal {
  	margin-top: 2px;
  }
  
  .searchForm {
  	display: contents;
  }
}
