@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

h2 {
    font-size: 46px;
   line-height: 54px;
   color: #222; 
}

h4 {
   font-size: 20px;
   color: #222; 
}


 p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
 }

 .section-p1 {
    padding: 40px 20px;
 }

 #prodetails {
    display: flex;
    margin-top: 20px;
 }


 #prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
 }

 .small-img-group {
    display: flex;
    justify-content: space-between;
 }

 .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
 }

 #prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
 }

 #prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
 }

 #prodetails .single-pro-details h2 {
    font-size: 26px;
 }

 #prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
 }

 #prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
 }

 #prodetails .single-pro-details input:focus {
    outline: none;
 }

 .normal {
    background-color: #088178;
    color: #fff;
    border: 0;
    padding: 14px 80px 14px 65px;
 }

 #prodetails .single-pro-details span {
    line-height: 25px;
 }

 .review-form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 30px;
   padding: 80px;
   border: 1px solid #e1e1e1;
}

.review-form form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-form input,
.review-form textarea {
	width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#submitNormal {
	width:50%;
    background-color: #088178;
    color: #fff;
    border: 0;
    padding: 14px 80px 14px 65px;
    text-align:center;
 }
 

.review-list h2 {
  margin-top: 0;
}

.review-list {
  text-align: center;
}

#reviews-container {
  margin-top: 20px;
}

.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.review-title {
  font-weight: bold;
}

.review-score {
  color: #088178;
}

.review-description {
  margin-top: 5px;
}

#errorDisplay {
	margin-top: 10px;
	color: red;
	padding:10px;
}

 @media screen and (max-width: 768px) {
 
 #prodetails {
 	display: flex;
 	flex-direction: column;
 }
 
 #prodetails .single-pro-image {
 	width: 100%;
 	margin-right: 0;
 }
 
 #prodetails .single-pro-details {
 	width: 100%;
 }
 
.review-form {
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid #e1e1e1;
}

    .review-form form {
        width: 100%;
    }
    
    .normal {
        margin-top: 5px;
        border-radius:60px;
    }
    
    
}