@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

html {
	height:100vh;
}

h2 {
    font-size: 46px;
   line-height: 54px;
   color: #222; 
}

h4 {
   font-size: 20px;
   color: #222; 
}


 p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
 }
 
  body {
    width: 100%;
 }

 .section-p1 {
    padding: 40px 80px;
 }

.container {
    border: 1px solid;
    margin: 10px;
    overflow-x: auto;
}

.invoice {
    margin: 20px 0 10px 10px;
    width: 98%;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

h2, h3 {
    text-align: right;
}

@media screen and (max-width: 768px) {
	.bottomh {
		padding-right:15px;
	}
}
