<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GuitarHub</display-name>
  <welcome-file-list>
   <welcome-file>redirect.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
   <error-code>404</error-code>
   <location>/views/errors/error404.jsp</location>
  </error-page>

  <error-page>
   <error-code>500</error-code>
   <location>/views/errors/error500.jsp</location>
  </error-page>

  <error-page>
   <error-code>502</error-code>
   <location>/views/errors/error502.jsp</location>
  </error-page>
  
  <resource-ref>
    <description>guitarhub</description>
    <res-ref-name>jdbc/guitarhub</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>